#注意：如果在记事本上编写，下面的缩进不要使用Tab来缩进，不然报错
spring:
  profiles:
    active: dev # 激活开发环境配置
---
server:
  port: 9090
spring:
  profiles:
    active: dev
  application:
    name: provider-service
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8200/eureka

  instance:
    ###实例ID
    instance-id: ${spring.application.name}:${server.port}
    ##是否显示IP
    prefer-ip-address: true
   
---
server:
  port: 9090
spring:
  profiles:
    active: prod
  application:
    name: provider-service
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8200/eureka

  instance:
    ###实例ID
    instance-id: ${spring.application.name}:${server.port}
    ##是否显示IP
    prefer-ip-address: false
    

#保存时注意，选择 UTF-8 保存
