spring:
 profiles: 
   active: dev

---
server:
  port: 8200

spring:
  profiles: 
    active: dev
  application:
    name: eureka-service

eureka:
  instance:
    hostname: localhost
  client:
    # 服务注册
    registerWithEureka: false
    # 服务发现
    fetchRegistry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # 禁用自我保护机制
    enable-self-preservation: false
##暴露端点
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
---
server:
  port: 8200

spring:
  profiles: 
    active: prod
  application:
    name: eureka-service

eureka:
  instance:
    hostname: localhost
  client:
    # 服务注册
    registerWithEureka: false
    # 服务发现
    fetchRegistry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    # 禁用自我保护机制
    enable-self-preservation: true
##暴露端点
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS





